<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "C:\Users\GaneshK\Downloads\testng-1.0.dtd">
<suite name="Suite">
<listeners>
		<listener class-name="Lisreners.Listeners" />
	</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="demo.demo1"/>
      <class name="demo.demo2"/>
      <class name="demo.Demo"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
